body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  background: linear-gradient(#de64e6, #a8afff);
  min-height: 650px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}
@media (max-width: 600px){
  .board-row {
    width: fit-content;
    margin: auto;
  }
}

.status {
  margin-bottom: 10px;
  font-size: 25px;
}
@media (max-width: 600px){
  .status, h1 {
    text-align:center;
  }
}
:root{
  --squares: 68px;
}
.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: calc(var(--squares) / 1.5);
  font-weight: bold;
  line-height: var(--squares);
  height: var(--squares);
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: var(--squares);
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}
@media (max-width: 900px){
  .game{
    display: inline-block;
  }
}
.game-info {
  margin-left: 20px;
}
